<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="FinnaCooldownMillis" value="1500"/>
  <add key="FinnaResultsPerPage" value="100"/>
  <add key="FinnaBaseUrl" value="https://api.finna.fi/api/v1/search"/>
  <add key="FinnaBuildingParam" value="0/Heili/"/>
  <add key="FinnaFields" value="authors,awards,buildings,classifications,cleanIsbn,edition,formats,genres,humanReadablePublicationDates,id,institutions,isbns,languages,nonPresenterAuthors,onlineUrls,originalLanguages,placesOfPublication,previousTitles,primaryAuthors,projectedPublicationDate,publicationDates,publicationEndDate,publicationFrequency,publicationInfo,publishers,recordLinks,recordPage,secondaryAuthors,series,shortTitle,subjects,subTitle,title,titleSection,titleStatement,uniformTitles,urls,year"/>
  <add key="FinnaFormat" value="0/Book/"/>
  <add key="GoodreadsApiKey" value="2Keb27mmSYFsa2ZX4U49A"/>
  <add key="GoodreadsCooldownMillis" value="1500"/>
  <add key="GoodreadsSearchBaseUrl" value="https://www.goodreads.com/search/index.xml"/>
  <add key="GoodreadsReviewsBaseUrl" value="https://www.goodreads.com/book/show.xml"/>
  <add key="SubjectPartSeparator" value=" → "/>
  <add key="ThumbnailWidth" value="300"/>
  <add key="ThumbnailHeight" value="170"/>
  <add key="NumSubjects" value="30"/>
  <add key="NumGenres" value="20"/>
  <add key="NumCategories" value="7"/>
  <add key="NumItemsInCategory" value="7"/>
</appSettings>
